{% extends 'locationblango/base.html' %}

{% block title %}Booking_update page |{% endblock %}

{% block content %}


    <h2 class="is-size-3">Booking_update page</h2>
    <hr>


    <div class="container">
        <div class="row">
            <div class="co-md-8 mx-auto">

                <form  method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <div class="field">
                        <div class="control">
                            <button class="button is-dark uppercase">Book_update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}