{% extends 'locationblango/base.html' %}


{% block title %}Accounts page |{% endblock %}

{% block content %}


    <h2 class="is-size-3">Login page</h2>
    <hr>

    <div class="container">
        <div class="row">
            <div class="co-md-8 mx-auto">

                <form  method="post" action="." enctype="multipart/form-data" style="width:300px;">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <div class="field">
                        <div class="control">
                            <button class="button is-dark uppercase">Log In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}





